.circle {
    width: 200px;
    margin-top:-50px;
    height: 200px;
    border-radius: 500px;
    border:10px solid #333;
    background-image:url('../images/mine.jpg');
    box-shadow: inset 0 0 10px black, 0 4px 8px rgba(0,0,0,0.4);
    }
    